body {
    padding-top:100px;
}

.dropdown-menu {
    right:0;
    left: auto;
}

.dropdown-menu form button {
    width           : 100%;
    text-decoration : none;
    color           : #606d7a;
    display         : block;
    padding         : 5px 16px;
    line-height     : 1.6;
    text-align      : left;
    white-space     : nowrap;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.dropdown-menu form button:hover {
    text-decoration: none;
    color: #55606c;
    background-color: rgba(202,206,209,.5);
}

button.add-comment.btn.btn-info.pull-right{
    position: absolute;
    top: 0;
    right: -22px;
}

.comment {
    font-size: 14px;
    line-height: 16px;
}
.comment-body {
    margin-top: 5px;
}

.comment-menu {
    opacity: 0;
    font-size: 12px;
}

.comment:hover .comment-menu, .comment:active .comment-menu {
    opacity: 1;
}

.trashed {
    opacity: .3;
    transition: ease-in-out .5s;
}
.trashed:hover {
    opacity: 1;
}

.navbar-nav>li>a {
    font-size: 14px;
    padding:15px 10px;
}

.navbar-nav>li>a.icon{
    padding:15px 5px;
}
.icon span.label.label-default {
    font-size: 9px;
    background: red;
    position: absolute;
    top: 15px;
    right: 0;
    padding: 2px;
}
.btn-notify {
    background-color: transparent;
}
.btn li {
    list-style: none;
    text-align: left;
}
.list-group .btn:hover, .list-group .btn:focus {
    color: #636b6f;
}
.dropdown-menu .btn:hover, .dropdown-menu .btn:focus {
    color: #636b6f;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
    background-color: transparent;
}